div#eventModal.modal.hidden
  div.grid.justify-content-center.w-96.bg-pink-100.p-12.rounded-md
    p.text-xl.text-green-500= "Agregar horario"
    p.text-lg= "Hora de inicio"
    input(name= 'start', class="p-2")
    p.text-lg= "Hora de termino"
    input(name= 'end', class="p-2")
    button.bg-green-500.text-lg.p-2.my-2.rounded-md.text-white= "Guardar"
