div.headadmin.justify-between.text-blue-400.p-4
  p.text-2xl: a(href="http://localhost:3000/",class="text-white no-underline") My Little World
  p.text-2xl: a(href="http://localhost:3000/photos",class="text-white no-underline") FOTOS
  p.text-2xl: a(href="http://localhost:3000/contact",class="text-white no-underline") CONTACTO
  p.text-2xl: a(href="http://localhost:3000/admin/login",class="text-white no-underline") ADMINISTRADOR
  
