extends layout

block content
  include partials/client_header
  div.grid.grid-cols-2.place-content-center.bg-pink-200.text-green-400.text-center.h-screen.justify-items-center
    div.grid.place-content-center
      p.text-4xl.little-world-font My Little World
    div.grid.grid-cols-1.grid-rows-4.bg-red-100.p-8.text-2xl.rounded-lg.mr-3
      p.text-3xl.little-world-font Contáctanos
      p.mt-4.font-bold Teléfono
      p 8181818181
      p.mt-4.font-bold Dirección
      p Av. Ventura Sur #1465, Ventura, C.P. 88715, Reynosa, Tamaulipas