extends layout

block content
  include partials/client_header
  div.grid.place-content-center.bg-pink-300.h-96
    div.m-10.text-3xl.text-green-400.text-center
      p.text-4xl.p8= "!Informacion enviada con éxito¡"
      br
      p.text-4xl.p8= "Te esperamos el día agendado"