extends layout

block content
  include partials/client_header
  div.grid.place-content-center.bg-pink-200.text-green-400.text-center.h-screen
    p.text-4xl.pb-4 ¡Informacion enviada con éxito!
    p.text-4xl Te esperamos el día agendado