extends layout

block content
  div.headadmin
        p.titulo= "LW"
  div.central
    aside.columnaadmin 
      ul
        li: a(href="#") Citas
        li: a(href="#") Ni単os   
        li: a(href="#") Servicios
    div.ninos 
      div.encabezado
        p="Informacion de ni単os"
        button.agregab: a(href="http://localhost:3000/ninos") Volver a ni単os
      .cajaazul 
        .nombres 
          p Nombre de ni単o
          p Alergias
          p Servicios
          p comidas
        .datos
          p Numero de emergencias
          p Horas en guarderia
          p Dias en guarderia
          p """""""""""""""""""""""""""""""""""""""""""""
          button(href="#") Cancelar Inscripcion  X
      