extends layout

block content
  div.headadmin
        p.titulo= "LW"
  div.central
    aside.columnaadmin 
      ul
        li: a(href="#") Citas
        li: a(href="#") Niños   
        li: a(href="#") Servicios
    div.ninos 
      div.encabezado
        p="Niños"
        button.agregab: a(href="#") Inscribir un niño
      .cajaazul 
        .nombres 
          p Nombre niño
          p Edad
        .datos
          p Numero de emergencias
          i.far.fa-edit
          i(class="far fa-trash-alt")
          p Nombre de la mamá
          i.far.fa-edit
          i(class="far fa-trash-alt")
          p """""""""""""""""""""""""""""""""""""""""""""
          button: a(href="http://localhost:3000/infoninos") Ver informacion extra
      .cajaazul 
        .nombres 
          p Nombre niño
          p Edad
        .datos
          p Numero de emergencias
          i.far.fa-edit
          i(class="far fa-trash-alt")
          p Nombre de la mamá
          i.far.fa-edit
          i(class="far fa-trash-alt")
          p """""""""""""""""""""""""""""""""""""""""""""
          button: a(href="http://localhost:3000/infoninos") Ver informacion extra
      .cajaazul 
        .nombres 
          p Nombre niño
          p Edad
        .datos
          p Numero de emergencias
          i.far.fa-edit
          i(class="far fa-trash-alt")
          p Nombre de la mamá
          i.far.fa-edit
          i(class="far fa-trash-alt")
          p """""""""""""""""""""""""""""""""""""""""""""
          button: a(href="http://localhost:3000/infoninos") Ver informacion extra