extends layout

block content
<<<<<<< HEAD
  include partials/admin_header
  p.m-3.text-3xl.text-green-400= "Horarios y citas"
  div.grid.place-items-stretch.m-10
    div#calendar
  script(src='/javascripts/calendar.js')
=======
  include admin_header
  div.grid.grid-cols-4
    include side_menu
    div.col-span-3
      p.m-3.text-3xl.text-green-400= "Horarios y citas"
      div.grid.place-items-stretch.m-10
        div#calendar
    script(src='/javascripts/calendar.js')
>>>>>>> bee248d74441d530bf521103c61cb95bb4671c4f
