extends layout

block content
  include partials/admin_header
  div.grid.grid-cols-5
    include side_menu
    div.col-span-4
      div.grid.grid-cols-2.m-10
        p.m-3.text-3xl.text-green-400= "Horarios y citas"
      div.grid.place-items-stretch.m-10
        div#calendar
    script(src='/javascripts/calendar.js')

  div#appointments.hidden&attributes({'data-apps': appointments})

  include partials/appointment_admin

