extends layout

block content
 
  include partials/admin_header
  div.grid.grid-cols-5
    include side_menu
    div.col-span-4.servicios 
      div.grid.grid-cols-2.m-10.encabezado
        p.m-3.text-3xl.text-green-400="Servicios"
        button.agregab: a(href="http://localhost:3000/admin/serviciosagregar") Agregar servicio
      div.grid.grid-cols-1.gap-4.justify-items-stretch.m-10.text-lg
        each box in [1,2,3]
          .cajaazul 
            .nombres 
              p Nombre de servicio
              p Costos
            .datos
              p Rango de edad para servicio
              i.far.fa-edit
              i(class="far fa-trash-alt")

