extends layout

block content
  div.headadmin
        p.titulo= "LW"
  div.central
    aside.columnaadmin 
      ul
        li: a(href="#") Citas
        li: a(href="#") Niños   
        li: a(href="#") Servicios
    div.servicios 
      div.encabezado
        p="Servicios"
        button.agregab: a(href="/admin/serviciosagregar") Agregar servicio
      .cajaazul 
        .nombres 
          p Nombre de servicio
          p Costos
        .datos
          p Rango de edad para servicio
          i.far.fa-edit
          i(class="far fa-trash-alt")
      .cajaazul 
        .nombres 
          p Nombre de servicio
          p Costo
        .datos
          p Rango de edad para servicio
          i.far.fa-edit
          i(class="far fa-trash-alt")
      .cajaazul 
        .nombres 
          p Nombre de servicio
          p Costo
        .datos
          p Rango de edad para servicio
          i.far.fa-edit
          i(class="far fa-trash-alt")
