extends layout

block content
  include partials/admin_header
  div.grid.grid-cols-5
    include side_menu
    div.col-span-4.h-full
      div.grid.grid-cols-2.m-10.encabezado
        p.m-3.text-3xl.text-green-400="Servicios"
        button.agregab: a(href="http://localhost:3000/admin/serviciosagregar") Agregar servicio
      div.grid.grid-cols-1.gap-4.justify-items-stretch.m-10.text-lg
        each service in services
          .cajaazul 
            .nombres 
              p Nombre de servicio:
              p= service.name
              p Costos:
              p= service.cost
            .datos
              p Rango de edad para servicio
              p= service.minAge + " - " + service.maxAge + " años"
              button
                a(href="http://localhost:3000/admin/modificar-serv/" + service.id)
                  i.far.fa-edit
              i(class="far fa-trash-alt")


