div.bg-red-200.text-white.pt-16.text-3xl.text-center.h-full
  p.py-4.text-white: a(href="http://localhost:3000/admin/schedule",class="text-white no-underline") Citas
  p.py-4.text-white: a(href="http://localhost:3000/admin/ninos",class="text-white no-underline") Niños
  p.py-4.text-white: a(href="http://localhost:3000/admin/servicios",class="text-white no-underline") Servicios
